:root {
    --verde-luma: #229089;
    --roxo-luma: #40255F;
    --primary: #FF3E41;
    --secondary: #51CFED;
    --light: #F8F2F0;
    --dark: #060315;
    --yellow: #FFD372;
    --ligh-purple: #8D9EFF;
    --light-green: #B6E2A1;
    --light-red: #E97777;
    --ligh-blue: #81C6E8;

}

body {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    text-decoration: none;
}

.card-contador {
    text-align: center;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 1.8rem;
}

h4 {
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p {
    font-size: .9rem;
}


h6 {
    font-size: 1rem;
}

#sobre, #servicos, #provas, #segmento, #contato, #duvidas,#mkt {
    padding: 50px 0;
}

.info-text-blue {
    background-color: #229089;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.info-text-blue h1, .info-text-blue h2, .info-text-blue h3, .info-text-blue h4, .info-text-blue h5, .info-text-blue h6,
.info-text-blue p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 769px) {
    .card-contador {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    h2 {
        font-size: 1.5rem;
    }

}
/* MKT */
#mkt{
    background-color: #f7f7f7;
}
#mkt img{
    width: 100%;
}

#mkt div.cta a{
    background-color: var(--verde-luma);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 30px;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 1.3rem;
}
/* SOBRE */
#sobre h4 {
    color: var(--verde-luma);
    font-weight: bold;
}

#sobre img{
    width: 100%;
}

@media (max-width:992px) {
    #sobre {
        text-align: center;
    }

    #sobre img {
        margin-bottom: 20px;
    }
}

/* LGS */
#lgs img {
    width: 200px;
    margin: 10px 20px;
}

#lgs .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:768px) {
    #lgs .content {
        display: flex;
        flex-wrap: wrap;
    }

    #lgs .content img {
        margin-bottom: 0;
        width: 150px;
    }
}

/* SERVICOS */
#servicos {
    background-color: #f7f7f7;
}

#servicos img {
    width: 100px;
    height: 100px;
}

#servicos .area-card-servicos {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
}

#servicos .area-card-servicos .card-servicos {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    max-width: 250px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .3s;
    color: #000;
}

#servicos .area-card-servicos .card-servicos h6 {
    text-transform: uppercase;
    color: var(--verde-luma);
    font-weight: bold;
    font-size: 1rem;
}

#servicos .area-card-servicos .card-servicos .title {
    min-height: 60px;
}

#servicos .area-card-servicos .card-servicos .icon {
    margin-bottom: 10px;
}

#servicos .area-card-servicos .card-servicos:hover {
    background-color: var(--roxo-luma);
}

#servicos .area-card-servicos .card-servicos:hover>.content p {
    color: #fff;
}

@media (max-width: 1200px) {
    #servicos .area-card-servicos {
        width: 992px;
    }

}

@media (max-width: 992px) {
    #servicos .area-card-servicos {
        width: 768px;
        flex-wrap: wrap;
    }

    #servicos .area-card-servicos .card-servicos {
        width: 45%;
    }
}

@media (max-width: 768px) {
    #servicos .area-card-servicos {
        width: 100%;
    }

    #servicos .area-card-servicos .card-servicos {
        width: 100%;
    }
}

@media (max-width: 576px) {
    #servicos .area-card-servicos .card-servicos {
        width: 100%;
    }
}

/* PROVAS */
#provas .client {
    padding-top: 40px;
}

#provas .client .row {
    justify-content: center;
}

#provas .client .card-client {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    margin: 20px 10px;
}

#provas .client .card-client img {
    width: 100%;
}

/* SEGMENTO */
#segmento {
    background-color: #f7f7f7;
}

#segmento .area-cards-duvida {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#segmento .area-cards-duvida .card-duvida {
    text-align: center;
    margin: 10px;
    padding: 10px;
    transition: all .3s;
    width: 300px;
    min-height: 150px;
    color: #fff;
}

#segmento .area-cards-duvida .card-duvida h6 {
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
}

#segmento .area-cards-duvida .card-duvida i {
    font-size: 2rem;
    margin: 20px 0;
}

#segmento .area-cards-duvida .card-duvida[data-colorbg="color1"] {
    background-color: var(--yellow);
}

#segmento .area-cards-duvida .card-duvida[data-colorbg="color2"] {
    background-color: var(--ligh-purple);
}

#segmento .area-cards-duvida .card-duvida[data-colorbg="color3"] {
    background-color: var(--light-green);
}

#segmento .area-cards-duvida .card-duvida[data-colorbg="color4"] {
    background-color: var(--light-red);
}

#segmento .area-cards-duvida .card-duvida[data-colorbg="color5"] {
    background-color: var(--ligh-blue);
}

#segmento .content {
    padding: 40px 0;
}

#segmento .content h3 {
    text-transform: uppercase;
    font-weight: bold;
}

#segmento .cta a {
    background-color: var(--verde-luma);
    padding: 20px 30px;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all .3s;
}

#segmento .content img {
    width: 100%;
}

#segmento .cta a:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 992px) {
    #segmento .content {
        text-align: center;
    }

    #segmento .content img {
        margin-bottom: 20px;
    }
}

/* CONTATO */
#contato {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(/assets/images/banners/contact.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

@media (max-width: 576px) {
    #contato {
        background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(/assets/images/banners/mob/contact.jpg);
    }
}

@media (max-width: 320px) {
    #contato {
        background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(/assets/images/banners/small/contact.jpg);
    }
}


button:focus {
    outline: none;
}

#contato form {
    background-color: rgba(255, 255, 255, 0.24);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

#contato form input, #contato form textarea {
    padding: 30px 20px;
}

#contato form button {
    background-color: var(--verde-luma);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 30px;
    border: none;
    font-size: 1.4rem;
    width: 100%;
}

@media (max-width: 576px) {

    #contato form {
        padding: 10px;
    }

    #contato form h2 {
        margin-bottom: 20px;
    }
}

/* DÚVIDAS */
#duvidas img{
    width: 100%;
}
#duvidas .card-duvida .collapse-question {
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: left;
    border-bottom: .25px solid rgba(0, 0, 0, 0.24);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* RODAPÉ */
footer {
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: #f7f7f7;
    text-align: left;
}
footer #logo{
    width: 250px;
}
footer li {
    font-size: .9rem;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a {
    color: #000;
}

footer a:hover {
    color: var(--verde-luma);
}

/* WHATSAPP */

#modalWhatsapp button.cta {
    color: #fff;
    background-color: var(--roxo-luma);
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 40px;
    transition: all .5s;
    border: none;
    outline: none;
    width: 100%;
    transition: all .3s;
    font-weight: bold;
    text-transform: uppercase;
}

#modalWhatsapp button.cta:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-whatsapp-pulse {
    background: #25d366;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 40px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    padding: 35px;
    text-decoration: none;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.8);
    }

    80% {
        box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
    }
}