:root {
    --verde-luma: #229089;
    --roxo-luma: #40255F;
    --primary: #FF3E41;
    --secondary: #51CFED;
    --light: #F8F2F0;
    --dark: #060315;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    text-decoration: none;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 1.8rem;
}

h4 {
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p {
    font-size: .9rem;
}


h6 {
    font-size: 1rem;
}

#sobre, #servicos, #provas {
    padding: 50px 0;
}

.info-text-blue {
    background-color: #229089;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.info-text-blue h1, .info-text-blue h2, .info-text-blue h3, .info-text-blue h4, .info-text-blue h5, .info-text-blue h6,
.info-text-blue p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
}

/* SOBRE */

/* LGS */
#lgs img {
    width: 200px;
    margin: 10px 20px;
}

#lgs .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SERVICOS */
#servicos {
    background-color: #f7f7f7;
}

#servicos lord-icon {
    width: 100px;
    height: 100px;
}

#servicos .area-card-servicos {
    display: flex;
    justify-content: center;
}

#servicos .area-card-servicos .card-servicos {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    max-width: 250px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .3s;
    color: #000;
}

#servicos .area-card-servicos .card-servicos h6 {
    text-transform: uppercase;
    color: var(--verde-luma);
    font-weight: bold;
    font-size: 1rem;
}

#servicos .area-card-servicos .card-servicos .title {
    min-height: 60px;
}

#servicos .area-card-servicos .card-servicos .icon {
    margin-bottom: 10px;
}

#servicos .area-card-servicos .card-servicos:hover {
    background-color: var(--roxo-luma);
}

#servicos .area-card-servicos .card-servicos:hover>.content p {
    color: #fff;
}



/* WHATSAPP */

#modalWhatsapp button.cta {
    color: #000;
    background-color: var(--amarelo);
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 40px;
    transition: all .5s;
    border: none;
    outline: none;
    width: 100%;
    transition: all .3s;
}

#modalWhatsapp button.cta:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-whatsapp-pulse {
    background: #25d366;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 40px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    padding: 35px;
    text-decoration: none;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.8);
    }

    80% {
        box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
    }
}